<%- include('partials/header1') %>

    <div class="container mt-5">
        <h3>Please provide an email.</h3>
        <input type="email" name="email" class="form-control mt-5" placeholder="Email" required>
        <p class="lead">"And now these three remain: faith, hope and love. But the greatest of these is love." — 1 Corinthians 13:13</p>
    </div>
        
  
<%- include('partials/footer') %>
