<%- include('partials/header') %>

    <div class="jumbotron centered">
        <div class="container">
          <h1 class="display-3">Welcome to LoveInOne</h1>
          <p class="lead">True love is love in one body and one spirit!</p>
          <p class="lead">"And now these three remain: faith, hope and love. But the greatest of these is love." — 1 Corinthians 13:13</p>
          <hr>      
        </div>
    </div>
        
  
<%- include('partials/footer') %>
