<%- include('partials/header') %>

<div class="container text-left">
  <h1 class="text-center my-5">Welcome to LoveInOne</h1>
  <p class="mb-0 ">LoveInOne is a Christian website created to unite in one all people with love through making them deciples of Jesus Christ.</p>
  
  <p class="text-info">You shall love the Lord your God with all your heart and with all your soul and with all your
    mind and with all your strength. (Mark 12:30)</p>
  <p> In other dating websites, you are all alone and isolated. Not the case in our website. Here you are encouraged to
    join a
    group led by a faithful groupLeader. When you start mingling with other believers, your chance of finding the right one
    is
    greatly increased. </p>
  <p class="text-info">And now these three remain: faith, hope and love. But the greatest of these is love. (1
    Corinthians 13:13)</p>

</div>


<%- include('partials/footer') %>