<%- include('partials/header') %>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
  <a class="navbar-brand" href="#">💑LoveInOne</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active border-bottom">
        <a class="nav-link" href="/">Home </a>
      </li>     
      <li class="nav-item active">
        <a class="nav-link" href="/dating">Dating</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <a href="/login"> 
      <button type="button" class="btn btn-outline-dark btn-block <%= loginDisplay %>">Login</button> 
    </a>
    <a href="/logout"> 
      <button type="button" class="btn btn-outline-dark btn-block <%= logoutDisplay %>">Logout</button> 
    </a>
  </div>
</nav>

    <div class="jumbotron centered">
        <div class="container">
          <h1 class="display-3">Welcome to 💑LoveInOne</h1>
          <p class="lead">True love is love in one body and one spirit!</p>
          <p class="lead">"And now these three remain: faith, hope and love. But the greatest of these is love." — 1 Corinthians 13:13</p>
          <hr>      
        </div>
    </div>
        
  
<%- include('partials/footer') %>
