<%- include('partials/header') %>
<!-- <div class="container mt-5">
    <h1>Login</h1> -->
  
    <!-- <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
  
            Makes POST request to /login route
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-dark">Login</button>
            </form>
  
          </div>
        </div>
      </div> -->
  
      <!-- <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-block" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a>
          </div>
        </div>
      </div> -->
  
    <!-- </div>
  </div>
 -->

<div class="container mt-5 text-center">
    <div class="row">
       <div class="col-sm">
            <!-- <h1 class="mt-4 ">Welcome!</h1> -->
       </div>

      <div class="col-sm">
        <form action="/login" method="POST">
          <h1 class="mt-4">Log In</h1>
          
          <input type="email" name="email" class="form-control mt-5" placeholder="Email" required>
          <input type="password" name="password" class="form-control mt-4 mb-4" placeholder="Password" required>
          <p class="text-danger"><%= message %></p>
          <div class="mt-4">
          <button class="btn btn-primary btn-block" type="submit">Log In</button>
          </div>
          
          <a href="/signup"> 
            <button type="button" class="btn btn-outline-dark btn-block mt-5">Sign Up</button> 
          </a>
  
        </form>

      </div>        
      
      <div class="col-sm"> 
        
      </div>
      
    </div>
  </div>  
  


<%- include('partials/footer') %>
