<%- include('partials/header1') %>

    <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Thank you for contacting, <%= message.fullname %></h1>
          <p class="lead">True love is love in one body and one spirit!</p>
          <p class="lead">"And now these three remain: faith, hope and love. But the greatest of these is love." — 1 Corinthians 13:13</p>
        </div>
    </div>
        
  
<%- include('partials/footer') %>
