<%- include('partials/header1') %>

<div class="container mt-5">
    <h2 class="text-success">Payment received!</h2>
    <p>Thank you for your payment</p>
    <a href="/chat/<%=chatId%>"><button class="btn btn-success">Chat Now</button></a>
</div>

