<%- include('partials/header') %>
<div class="container mt-5 text-center">    
    <form method="POST" action="/uploadAvator" enctype="multipart/form-data" id="uploadForm">
        <input type="file" name="upload" multiple>
        <input type="submit" class="btn btn-success" value="Upload">
    </form>
</div>


<%- include('partials/footer') %>