body {
    background-color: #ADD8E6;
   /* background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png"); */
   /* background-image: url("../images/homepath.jpg"); */
   }

#chatroom {
    height: 500px;
    overflow-y: scroll;
    background-color: ivory;
}

.iForm {
  width: 350px;
  margin: 0 auto;
}

.roundedImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
