a {
    color: black;
}

body {
    background-color: #ADD8E6;
    
   /* background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png"); */
   /* background-image: url("../images/homepath.jpg"); */
   }

#chatImg {
    position: absolute;
    left: 40px;
    top: 20px;
    z-index: -1;
}

.fa-circle {
    font-size: 10px;
}

.iForm {
    width: 100%;
    max-width: 330px;
    padding: 0px;
    margin: auto;
}

.image {
    height: 250px;
    object-fit: cover;
}

input[type=checkbox] {
    margin: 6px 0 0;
} 

#panel {
    overflow-y: scroll;
    background-color: ivory;
}

.window {
    width: 100%;
    height: 400px;
    padding: 0px;
    margin: 0;
    /* overflow-y: scroll; */
    background-color: ivory;
    /* border-style: ridge; */
}
